<mat-toolbar color="default" style="background-color: #fff;border-bottom: 1px solid #e9e9e9;">
  <mat-toolbar-row>
    <a [routerLink]="['/postagens']">
      <img src="https://static.wixstatic.com/media/ca9c70_a667af8468be4f52a1a22b32c9d9c9c4~mv2.png/v1/crop/x_149,y_232,w_549,h_107/fill/w_156,h_26,al_c,usm_0.66_1.00_0.01,enc_auto/Logo_Roxa-02.png" alt="FrameWork"> 
    </a>
    <span class="example-spacer"></span>
    <div class="example-network">
      <a href="https://www.instagram.com/framework.digital/?hl=pt-br" target="_blank" rel="noopener noreferrer">
        <img src="https://static.wixstatic.com/media/ca9c70_b38f61b8d2d9474dadca193157a7e1b0~mv2.png/v1/fill/w_26,h_26,al_c,usm_0.66_1.00_0.01,enc_auto/ca9c70_b38f61b8d2d9474dadca193157a7e1b0~mv2.png" alt="">
      </a>
      <a href="https://www.linkedin.com/company/frameworkdigital/mycompany/" target="_blank" rel="noopener noreferrer">
        <img src="https://static.wixstatic.com/media/ca9c70_0050f2d7e1a14d39acc7a45000944c79~mv2.png/v1/fill/w_26,h_26,al_c,usm_0.66_1.00_0.01,enc_auto/ca9c70_0050f2d7e1a14d39acc7a45000944c79~mv2.png" alt="">
      </a>
      <a href="https://www.youtube.com/c/FrameworkDigital" target="_blank" rel="noopener noreferrer">
        <img src="https://static.wixstatic.com/media/ca9c70_1c9b8a95961042a8ab859392379d912d~mv2.png/v1/fill/w_26,h_26,al_c,usm_0.66_1.00_0.01,enc_auto/ca9c70_1c9b8a95961042a8ab859392379d912d~mv2.png" alt="">
      </a>
    </div>
    
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
               (closed)="events.push('close!')">
    <div>
      
    </div>
    <div>
      <mat-nav-list>
        <mat-list-item [routerLink]="[item.path]"  *ngFor="let item of menus" style="color: #603c73;"> 
          <mat-icon class="example-icon" aria-hidden="false" 
          aria-label="Example user verified icon">{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>


  </mat-sidenav>

  <mat-sidenav-content style="background-color: #f7f7f7;">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>